.carousel-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.carousel-containerg {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.carousel-slideg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.carousel-columng {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-btng {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

.carousel-btng:hover {
    background-color: #555;
}