/* Estilo geral da página */
.pagina-produto {
    text-align: center;
    font-family: Arial, sans-serif;
  
  
  /* Ajuste para o container principal */
  .ini {
    display: flex;
    flex-direction: column;
    
    margin-left: 0%;

    @media  (max-width: 768px) {
      display: flex;
      flex-direction: column;
      .fileira1 , .fileira2 , .fileira3{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0%;

      }

    }

    @media  (max-width:468px) {
      display: flex;
      flex-direction: column;
      .fileira1 , .fileira2 , .fileira3{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 0%;
        
      }

    }
  }
 /* armazena todas as fileiras e coluans */
  .mae {

    align-items: center;
    margin: 0%;
    padding-right: 3% ;


  }

  /* Estilo para as categorias */
  button {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }


  
}