*{
    font-family: 'Darker Grotesque';
}

.pagina-feedbacks{

    @media (max-width: 480px) {
        header{
            width: 0%;
            height: 30px;
        }
    }

    @media (max-width: 1024px) {
        .conteiners {
            flex-direction: column; 
            align-items: center;
        }
    
        .conteiner {
            width: 80%; 
            flex-direction: column;
        }
    
        .imge img,
        .imge-2 img {
            width: 100%; 
            max-width: 300px; 
            height: auto; 
        }
    }
    
    @media (max-width: 768px) {
        .conteiner {
            width: 90%; 
            padding: 15px; 
        }
    
        .imge img,
        .imge-2 img {
            width: 250px;
        }
    }
    
    @media (max-width: 480px) {

        .conteiners{
            display: flex;
            flex-direction: column !important;
            gap: 30px;
            align-items: center;
        }

        .conteiner {
            width: 80% !important; 
        }
    
        .imge img,
        .imge-2 img {
            max-width: 100px; 
        }

        .dire{
            width: 10px !important;
        }
    
        .texto img {
            width: 10px; 
        }

        .texto h3{
            font-size: medium; 
        }
        .estrelinha{
            width: 10px;
        }
        .texto p{
            font-size: small;
        }

    }

    .conteiners{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
    }

    .txt {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }


    
    .conteiner {
        background-color: rgba(187, 134, 134, 0.432);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        width: 550px;
        gap: 15px;
        border-radius: 20px;
        box-shadow: 0px 0px 2px 4px #66666621;
        transition: transform 0.3s ease-in-out; 
    }
    
    
    .conteiner:hover {
        transform: translateY(-10px); 
    }
    
    .texto img {
        width: 60px;
        border-radius: 80%;
    }
    
    .dire {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .dire .estrelinha {
        width: 100px;
    }
    
    .imge img {
        width: 200px;
        border-radius: 3px;
        height: 300px;
    }

    .imge-2 img {
        width: 200px;
        height: 300px;
        border-radius: 3px;
    }
    
}