header {
	background: #C59E9A;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 60px;
  
	.links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: 50px;
		margin-right: 50px;
		font-family: 'Darker Grotesque';;
	  ul {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 6rem;
		list-style: none;
		
	  }
  
	  .Link {
		text-decoration: none;
		
		color: #ede7e5;
		font-size: 22px;
		padding: 0.2rem;
		position: relative;
  
		&::before {
		  content: "";
		  position: absolute;
		  width: 100%;
		  height: 2px;
		  background-color: #E9DFDD;
		  border-radius: 5px;
		  bottom: -5px; // Ajuste a posição vertical da linha
		  left: 0;
		  transform: scaleX(0);
		  transition: all 0.4s ease;
		}
  
		&:hover::before {
		  transform: scaleX(1);
		}
	  }



	  .botom ul {
		display: flex;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0;

		.button {
			background: #E9DFDD;
			color: #744540;
			border-radius: 25px;
			font-size: 18px;
			padding: 0.2rem 1rem;
			padding-top: 2px;
			padding-bottom: 6px;
			font-size: 22px;
			text-decoration: none;
			position: relative;
			border: none;
			cursor: pointer;
			transition: background 0.3s ease;
		
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #E9DFDD;
				bottom: -5px; /* Posição da linha */
				left: 0;
				transform: scaleX(0);
				transition: transform 0.3s ease;
			}
		
			&:hover {
				background: transparent; /* Remove o fundo */
			}
		
			&:hover::after {
				transform: scaleX(1); /* Faz a linha aparecer */
			}
		}

	}


	.imagem-opaca {
		transition: opacity 0.3s ease; /* Suaviza a transição */
		width: 150px;
	}
	
	.imagem-opaca:hover {
		opacity: 0.6; 
	}
	
	
	
	}

	
  }
  
 

.cabecalho {
  display: flex;
  justify-content: space-evenly;
  
}

.slider {
  margin: 0 auto;
	width: 800px;
	height: 400px;
	overflow: hidden;
}


.slides {
	width: 400%;
	height: 400px;
	display: flex;
}

.slides input {
	display: none;
}


.slide {
	width: 25%;
	position: relative;
}

.slide img {
	width: 900px;
}

.manual-navigation {
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}


.formacoes{

	background-color: #fff;
	margin: 150px;
	border-radius: 90px;
	display: flex;
	flex-direction: ROW;
	align-items: center;
	justify-content: space-around;
	padding: 23px;
	gap:40px;
	box-shadow: 0px 0px 10px 5px #C59E9A;
	
	p{
		margin-left: 15px;
		margin-bottom: 30px;
		margin-top: 20px;
		color: #A97772;
		font-family: 'Marcellus SC';
		font-size: 48px;
		font-style: 'Regular' ;
		text-decoration: underline;
	}

	.texto{
		margin-left: 26px;
		line-height: 40px;
		font-family: 'Darker Grotesque';
		color: #665F5F;
		font-size: 25px;
	}

	.img{
		width: 350px;
		margin-right: 32px;
	}
	
}



.servico {

	.txt{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: #C8A19D;
		margin: 80px 310px 80px;
		padding: 20px;
		color: white;
		border-radius: 25px;
	}

	.estre{
		font-size: 20px;	
		line-height: 17px;
	}

	.texto{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		line-height: 2px;
	}

	.N{
		font-family: 'Major Mono Display';
		font-size: 30px;
		
	}

	.S{
		font-family: 'Gilda Display';
    	font-size: 60px;
		margin-top: 25px;
		margin-bottom: 28px;
	}

	.conteiner {
		display: flex;
		flex-direction: column;
	}
	
	.imgs {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 130px;
		margin-bottom: 60px;
	}

	.conteiner:hover .card {
		opacity: 0.5;
		filter: blur(3px); /* Adiciona o efeito de desfoque */
	}

	.conteiner .card:hover {
		opacity: 1;
		filter: none; /* Remove o desfoque ao passar o mouse sobre a card */
	}

	.card {
		transition: all 0.3s;
	}

	.card:hover {
		transform: translateY(-20px);
	}

	img {
		width: 230px;
	}
}




// o tamanho da bolinhas do carrossel (tamanho borda), e sua cor
.manual-btn{
	border: 2px solid #fff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}


// separa as bolinhas do carrossel
.manual-btn:not(:last-child) {
	margin-right: 40px;
}


// efeito quanto passa com o mouse por cima das bolinhas do carrossel
.manual-btn:hover {
	background-color: #fff;
}


.radio1:checked ~ .first {
	margin-left: 0;
}

.radio2:checked ~ .first {
	margin-left: -25%;
}

.radio3:checked ~ .first {
	margin-left: -50%;
}