.unique-carousel-containerC {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.unique-carousel-itemC {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;  
    overflow: hidden; 
}

.unique-carousel-itemC img {
    width: 80%; 
    height:  100%;
    border-radius: 10px; 
}

.unique-carousel-controlC {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    font-size: 40px; 
    background: transparent; 
    color: rgb(146, 146, 146); 
    z-index: 10;
    transition: color 0.3s;

    &:hover {
        color: rgba(0, 0, 0, 0.178); 
    }
}

.unique-prevC {
    left:10px; 
}

.unique-nextC {
    right: 10px; 
}

@media (max-width: 768px) {
    .unique-carousel-controlC {
        font-size: 30px; 
    }

    .unique-carousel-itemC {
        margin: 0 5px; 
    }
}

@media (max-width: 480px) {
    .unique-carousel-controlC {
        font-size: 25px; 
    }
}