.unique-carousel-containerB {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.unique-carousel-itemB {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;  
    overflow: hidden; 
}

.unique-carousel-itemB img {
    width: 80%; 
    height:  100%;
    border-radius: 10px; 
}

.unique-carousel-controlB {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    font-size: 40px; 
    background: transparent; 
    color: rgb(146, 146, 146); 
    z-index: 10;
    transition: color 0.3s;

    &:hover {
        color: rgba(0, 0, 0, 0.178); 
    }
}

.unique-prevB {
    left:10px; 
}

.unique-nextB {
    right: 10px; 
}

@media (max-width: 768px) {
    .unique-carousel-controlB {
        font-size: 30px; 
    }

    .unique-carousel-itemB {
        margin: 0 5px;
    }
}

@media (max-width: 480px) {
    .unique-carousel-controlB {
        font-size: 25px; 
    }
}