.pagina-hom {
    background-color: #E9DFDD;
    position: relative;
    height: 100vh; // Garante que a página ocupe a altura total da tela
    font-family: 'Darker Grotesque';

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%; // O menu ocupa 30% da largura da tela em computadores
        height: 100%; // O menu ocupa 100% da altura da tela
        background-color: #f6f2f1;
        transform: translateX(-100%);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        display: flex; // Flexbox para centralizar os conteúdos
        flex-direction: column; // Alinha os itens na coluna
        justify-content: center; // Centraliza verticalmente
        align-items: center; // Centraliza horizontalmente

        .imagem {
            width: 65px;
            margin-bottom: 20px; // Ajusta a margem inferior
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.6;
            }
        }

        .sair {
            display: flex;
            margin-top: auto; // Mover para o final do menu

            .sairr {
                margin-right: 10px;  
                font-size: 22px;
                padding: 0;
                text-align: right;
            }

            .sair-icon {
                img {
                    width: 30px;  
                    margin: 0;
                    padding-bottom: 0;
                    margin-bottom: -8px;
                    transition: opacity 0.3s ease;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                padding: 10px 30px;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 22px;
                    transition: color 0.3s ease;

                    &:hover {
                        color: rgb(184, 184, 184);
                    }
                }
            }
        }
    }

    .menu-faketrigger {
        display: none;
    }

    .menu-faketrigger:checked ~ .menu {
        transform: translateX(0);
        box-shadow: 6px 0 8px rgba(0, 0, 0, 0.3);
    }

    .menu-lines {
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin-left: 25px;
        margin-top: 30px;

        span {
            display: block;
            width: 35px;
            height: 5px;
            margin-bottom: 6px; 
            background-color: #2b2929;
            border-radius: 3px;
            transition: all 0.3s ease;

            &:nth-child(1) {
                transform-origin: left;
            }

            &:nth-child(2) {
                opacity: 1;
            }

            &:nth-child(3) {
                transform-origin: left;
            }
        }
    }

    .menu-faketrigger:checked + .menu-lines span:nth-child(1) {
        transform: rotate(45deg) translateY(10%);
    }

    .menu-faketrigger:checked + .menu-lines span:nth-child(2) {
        opacity: 0;
    }

    .menu-faketrigger:checked + .menu-lines span:nth-child(3) {
        transform: rotate(-45deg) translateY(-10%);
    }

    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%; // Ocupa toda a altura da tela

        .txt {
            text-align: center;

            h1 {
                font-size: 50px;
                color: rgb(0, 0, 0);
                margin-bottom: 20px;

                @media (max-width: 768px) {
                    font-size: 40px; // Ajuste para telas menores
                }
            }

            h2 {
                font-size: 30px;
                color: rgb(0, 0, 0);
                margin-bottom: 20px;

                @media (max-width: 768px) {
                    font-size: 24px; // Ajuste para telas menores
                }
            }
        }

        .fzr {
            display: flex;
            justify-content: center;
            gap: 150px;
            margin-top: 70px;

            @media (max-width: 768px) {
                flex-direction: column; // Muda a direção para coluna em telas menores
                gap: 50px;
            }
        }

        .botoes {
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center; // Centraliza horizontalmente
            transition: opacity 0.3s ease;

            .imagem {
                width: 190px;
                margin-bottom: 10px;
                transition: opacity 0.3s ease;      

                @media (max-width: 768px) {
                    width: 150px; // Diminuir o tamanho da imagem
                }
            }

            &:hover {
                opacity: 0.6;
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 30px;
                padding: 0;
                margin-right: 15px;
                transition: color 0.3s ease;

                @media (max-width: 768px) {
                    font-size: 24px; // Diminuir o tamanho do texto
                }

                &:hover {
                    color: rgb(184, 184, 184);
                }
            }
        }
    }

    @media (max-width: 768px) {
        .menu {
            width: 50%; // O menu ocupa 50% da largura da tela em dispositivos menores
        }

        .menu-faketrigger:checked ~ .menu {
            width: 100%; // Permite que o menu ocupe a tela inteira quando aberto
        }
    }
}
