.pagina-home {
    background-color: #E9DFDD;
    position: relative;
    

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background-color: #f6f2f1;
        transform: translateX(-100%); // Esconde o menu inicialmente
        transition: transform 0.3s ease, box-shadow 0.3s ease; // Adicionado box-shadow na transição
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); // Sombras do lado direito

        .imagem {
            width: 95px;
            margin-left: 20%;
            margin-top: -15px;
            margin-bottom: 23px;

            transition: opacity 0.3s ease; // Transição suave

                    &:hover {
                        opacity: 0.6; // Define a opacidade quando o mouse passa
                    }
        }

        .sair {
            display: flex;
            
            margin-top: 170px;

            .sairr {
                margin-right: 10px;  
                font-size: 22px;
                padding: 0px;
                text-align: right; // Alinha o texto à direita
            }

            .sair-icon {
                img {
                    width: 30px;  
                    margin: 0; // Remove margens
                    padding-bottom: 0px;
                    margin-bottom: -8px;
                    // Efeito de opacidade ao passar o mouse
                    transition: opacity 0.3s ease; // Transição suave

                    &:hover {
                        opacity: 0.5; // Define a opacidade quando o mouse passa
                    }
                }
            }
        }

        ul {
            padding-top: 100px;
            list-style: none;
            padding-left: 0;

            li {
                padding: 10px 30px;
                

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 22px;
                    transition: color 0.3s ease;

                    &:hover {
                        color: rgb(184, 184, 184);
                    }
                }
            }
        }
    }

    .menu-faketrigger {
        display: none; // Esconde o checkbox
    }

    .menu-faketrigger:checked ~ .menu {
        transform: translateX(0); // Exibe o menu quando checkbox está marcado
        box-shadow: 6px 0 8px rgba(0, 0, 0, 0.3); // Aplica o sombreamento quando o menu é exibido
    }

    .menu-lines {
        position: absolute;
        z-index: 999;
        width: 35px;
        height: 35px;
        cursor: pointer;
        margin-left: 25px;
        margin-top: 30px;

        span {
            display: block;
            width: 35px;
            height: 5px;
            margin-bottom: 6px; 
            background-color: #2b2929;
            border-radius: 3px;
            transition: all 0.3s ease;

            &:nth-child(1) {
                transform-origin: left;
            }

            &:nth-child(2) {
                opacity: 1;
            }

            &:nth-child(3) {
                transform-origin: left;
            }
        }
    }

    .menu-faketrigger:checked + .menu-lines span:nth-child(1) {
        transform: rotate(45deg) translateY(10%); // Rotaciona e move
    }

    .menu-faketrigger:checked + .menu-lines span:nth-child(2) {
        opacity: 0; // Esconde o meio
    }

    .menu-faketrigger:checked + .menu-lines span:nth-child(3) {
        transform: rotate(-45deg) translateY(-10%); // Rotaciona e move
    }

    .home{

        .txt{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 70px;

            h1{
                font-size: 50px;
                color: rgb(0, 0, 0);
                margin-bottom: 20px;
            }

            h2{
                font-size: 30px;
                color: rgb(0, 0, 0);
                margin-bottom: 20px;
            }
        }

        .fzr{
            display: flex;
            justify-content: center;
            gap: 150px;
            margin-top: 70px;
        }

        .botoes{
            display: flex;
            flex-direction: column;
            justify-content: center; 
            transition: opacity 0.3s ease;

            .imagem{
                width: 190px;
                margin-bottom: 10px;
                transition: opacity 0.3s ease      
            }
            &:hover{
                    opacity: 0.6;
                }

            a{
                text-decoration: none;
                color: black;
                font-size: 30px;
                padding: 0px;
                margin-right: 15px;
                transition: color 0.3s ease;

                &:hover{
                    color: rgb(184, 184, 184);
                }
            }
        }
    }


    
}
